<%- layout('/layouts/boilerplate')%>
<div id="review-page">
    <a class="back-link" href="/games/<%= gameDetails.id %>"><img src="/img/back.png" alt=""></a>
    <div>
            <h1>User reviews</h1>
            <% for (let review of reviews) { %> 
                <div class="rw-page-review">
                    <div class="rw-page-review-top">
                        <h1><%= review.title %> </h1>
                        <%  if( currentUser && review.author.id.equals(currentUser._id)) {%>
                            <div class="review-edit-btn">
                                <a href="/games/<%= review.gameId %>/reviews/<%= review._id %>" class="review-edit">View</a>
                            </div>
                          <% } %> 
                    </div>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="review-author"><%= review.author.name %> <span class="review-date"><%= timeDifference(Date.parse(review.created_at)) %></span></p>
                    <p class="review-text"><%- review.body %></p>
                    <% if (review.recommend) { %> 
                        <div class="recommend yes">Recommended <span class="thumbs-up"><img src="/img/thumbsup.png" alt=""></span></div>
                    <% } else { %>
                        <div class="recommend no">Not Recommended <span class="thumbs-down"><img src="/img/thumbsdown.png" alt=""></span></div>
                    <% } %> 
                </div>
            <% } %>
    </div>
</div>