<%- layout('/layouts/boilerplate')%>
<div class="review-page">
    <a class="back-link" href="/games/<%= gameDetails.id %>"><img src="/img/back.png" alt=""></a>
    <div class="review-wrapper">
        <h1>My review</h1>
            <div class="review-body">
                <div class="review-top">
                    <h1 class="review-title"><%= review.title %></h1>
                    <div class="review-display-buttons">
                        <div class="review-edit-btn">
                            <a href="/games/<%= gameDetails.id %>/review/edit" class="review-edit">Edit</a>
                        </div>
                        <form action="/games/<%= gameDetails.id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="review-delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
                <p class="review-author"><%= review.author.name %> <span class="review-date"><%= review.created_at.toLocaleString() %></span></p>
                <p class="review-text"><%= review.body %></p>
                <% if (review.recommend) { %> 
                    <div class="recommended">Recommended <span class="thumbs-up"><img src="/img/thumbsup.png" alt=""></span></div>
                <% } else { %>
                    <div class="not-recommended">Not Recommended <span class="thumbs-down"><img src="/img/thumbsdown.png" alt=""></span></div>
                <% } %> 
            </div>
    </div>
</div>