<%- layout('./layouts/useraccount')%>

<section id="dashboard">
    <h1 class="content-heading">Dashboard</h1>
    <div id="user-info-wrapper">
        <div>
            <img src="<%= userdata.image %>" alt="">
            <div>
                <h2><%= currentUser.username %></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div>
            <div class="counter"><%= userdata.favorite.length %> <span><img src="/img/heart.png" alt=""></span> <%= userdata.favorite.length === 1 ? "game" : "games" %> favourited</div>
            <div class="counter"><%= userdata.review.length %> <span><img src="/img/review.png" alt=""></span> <%= userdata.favorite.length === 1 ? "review" : "reviews" %> made</div>
        </div>
    </div>
</section>
<section id="activity-wrapper">
    <h1 class="content-heading">Recent activity</h1>
    <% for (let activity of activities) { %>
        <div id="activity">
            <div>
                <img src="<%= activity.image %>" alt="">
            </div>
            <p>You <%= activity.action === "favorite" ? "favourited" : "reviewed" %> <a href="/games/<%= activity.game.id %> "><%= activity.game.name %></a></p>
            <p id="date"><%= timeDifference(Date.parse(activity.created_at)) %></p>
        </div>
    <% } %> 
</section>

