<%- layout('/layouts/boilerplate')%>
<div id="community-wrapper">
    <div class="community-header">
        <div class="section-title recent active">Recent reviews</div>
        <div class="section-title favorites">Top Favorites</div>
        <div class="section-title top-users">Top users</div>
    </div>
    <div id="reviewrow">
        <% for (let review of reviews) { %> 
            <div id="recent-review">
                <div id="review-top">
                    <div>
                        <img src="<%= review.game.background_image %> " alt="">
                    </div>
                    <div>
                        <div>
                            <div id="name-rating">
                                <p><%= review.game.name %> <span>(<%= review.game.released.slice(0, 4) %>)</span></p>
                                <p class="starability-result" data-rating="<%=review.rating%>">
                                    Rated: <%= review.rating %> stars
                                </p>
                            </div>
                            <p id="review-time"><%= timeDifference(Date.parse(review.created_at)) %></p>
                        </div>
                        <h2 id="review-title"><%= review.title %><span><%= review.author.name %> </span></h2>
                    </div>
                </div>
                <div id="review-lower">
                    <p>
                        <% if (review.body.length >= 300) { %>
                            <%= review.body.substring(0, 300) + ".." %> <span><a href="/games/<%= review.gameId %>/reviews">View full review</a></span>
                        <% } else { %>
                            <%= review.body %> 
                        <% } %> 
                    </p>
                    <% if (review.recommend) { %> 
                        <div class="review-verdict-yes">Recommended <span><img class="thumbs-up" src="/img/thumbsup.png" alt=""></span></div>
                    <% } else { %>
                        <div class="review-verdict-no">Not Recommended <span><img class="thumbs-down" src="/img/thumbsdown.png" alt=""></span></div>
                    <% } %> 
                </div>
            </div>
        <% } %> 
    </div>
    <div id="favoritesrow">
        <% for (let game of favorites) { %>
            <div id="game">
                <a href="/games/<%= game.id %>">
                    <img src="<%= game.background_image %> " alt="">
                </a>
                <p><%= game.name %></p>
                <p><%= game.released.slice(0, 4) %> </p>
            </div>
        <% } %>  
    </div>
    <section id="mostactive">
        <% for (let i = 0; i < userdata.length; i++) { %>
            <div id="usercard" class="card<%= i + 1 %> ">
                <img src="<%= userdata[i].image %> " alt="">
                <div class="card-info">
                    <p><%= userdata[i].user.username %></p>
                    <p>I like good video games</p>
                    <div class="counters">
                        <div class="times-favorited"><%= userdata[i].favorite.length %> <span class="favorite-icon"><img src="/img/heart.png" alt=""></span></div>
                        <div class="times-reviewed"><%= userdata[i].review.length %> <span class="review-icon"><img src="/img/review.png" alt=""></span></div>
                    </div>
                </div>
            </div>
        <% } %>  
    </section>
</div>

<script>
    const recentTitle = document.querySelector('.recent')
    const favoritesTitle = document.querySelector('.favorites')
    const usersTitle = document.querySelector('.top-users')
    const reviews = document.getElementById('reviewrow')
    const favorites = document.getElementById('favoritesrow')
    const mostActive = document.getElementById('mostactive')
    function toggleActive(title1, title2, title3){
        title1.addEventListener('click', () => {
            if (!title1.classList.contains('active')){
                title1.classList.add('active');
                reviews.style.display = "block";
                title2.classList.remove('active');
                favorites.style.display = "none";
                title3.classList.remove('active');
                mostActive.style.display = "none";
            }
        })
        title2.addEventListener('click', () => {
            if (!title2.classList.contains('active')){
                title2.classList.add('active');
                favorites.style.display = "flex";
                title1.classList.remove('active');
                reviews.style.display = "none";
                title3.classList.remove('active');
                mostActive.style.display = "none";
            }
        })
        title3.addEventListener('click', () => {
            if (!title3.classList.contains('active')){
                title3.classList.add('active');
                mostActive.style.display = "flex";
                title1.classList.remove('active');
                reviews.style.display = "none";
                title2.classList.remove('active');
                favorites.style.display = "none";
            }
        })
    }
    toggleActive(recentTitle, favoritesTitle, usersTitle);
</script>