<%- layout('/layouts/boilerplate')%>
<div class="community-wrapper">
    <div class="community-header">
        <div class="section-title recent active">Recent reviews</div>
        <div class="section-title favorites">Top Favorites</div>
        <div class="section-title top-users">Top users</div>
    </div>
    <div class="review-row">
        <% for (let review of reviews) { %> 
            <div class="recent-review">
                <div class="review-game-side">
                    <img src="<%= review.game.background_image %> " alt="">
                    <p class="review-game-name"><%= review.game.name %> (<span class="review-date"><%= review.game.released.slice(0, 4) %></span>)</p>
                </div>
                <div class="review">
                    <div class="review-header">
                        <h2 class="review-title"><%= review.title %> </h2>
                        <p class="review-time"><%= timeDifference(Date.parse(review.created_at)) %></p>
                    </div>
                    <p class="recent-review-body"><%= review.body %> <span><a href="/games/<%= review.gameId %>/reviews">View full review</a></span></p>
                    <p class="starability-result review-rating" data-rating="<%=review.rating%>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <% if (review.recommend) { %> 
                        <div class="review-verdict-yes">Recommended <span><img class="thumbs-up" src="/img/thumbsup.png" alt=""></span></div>
                    <% } else { %>
                        <div class="review-verdict-no">Not Recommended <span><img class="thumbs-down" src="/img/thumbsdown.png" alt=""></span></div>
                    <% } %> 
                </div>
            </div>
        <% } %> 
    </div>
    <div class="favorites-row">
        <% for (let game of favorites) { %>
            <div class="game">
                <img class="game-cover" src="<%= game.background_image %> " alt="">
                <p class="game-name"><%= game.name %></p>
                <p class="game-year"><%= game.released %> </p>
            </div>
        <% } %>  
    </div>
    <section class="most-active">
        <% for (let i = 0; i < userdata.length; i++) { %>
            <div class="user-card card<%= i + 1 %> ">
                <img src="<%= userdata[i].image %> " alt="">
                <div class="card-info">
                    <p><%= userdata[i].user.username %></p>
                    <p>I like good video games</p>
                    <div class="counters">
                        <div class="times-favorited"><%= userdata[i].favorite.length %> <span class="favorite-icon"><img src="/img/heart.png" alt=""></span></div>
                        <div class="times-reviewed"><%= userdata[i].review.length %> <span class="review-icon"><img src="/img/review.png" alt=""></span></div>
                    </div>
                </div>
            </div>
        <% } %>  
    </section>
</div>

<script>
    const recentTitle = document.querySelector('.recent')
    const favoritesTitle = document.querySelector('.favorites')
    const usersTitle = document.querySelector('.top-users')
    const reviews = document.querySelector('.review-row')
    const favorites = document.querySelector('.favorites-row')
    const mostActive = document.querySelector('.most-active')
    function toggleActive(title1, title2, title3){
        title1.addEventListener('click', () => {
            if (!title1.classList.contains('active')){
                title1.classList.add('active');
                reviews.style.display = "block";
                title2.classList.remove('active');
                favorites.style.display = "none";
                title3.classList.remove('active');
                mostActive.style.display = "none";
            }
        })
        title2.addEventListener('click', () => {
            if (!title2.classList.contains('active')){
                title2.classList.add('active');
                favorites.style.display = "flex";
                title1.classList.remove('active');
                reviews.style.display = "none";
                title3.classList.remove('active');
                mostActive.style.display = "none";
            }
        })
        title3.addEventListener('click', () => {
            if (!title3.classList.contains('active')){
                title3.classList.add('active');
                mostActive.style.display = "flex";
                title1.classList.remove('active');
                reviews.style.display = "none";
                title2.classList.remove('active');
                favorites.style.display = "none";
            }
        })
    }
    toggleActive(recentTitle, favoritesTitle, usersTitle);
</script>