<% layout('layouts/profile')%>

<% for (let review of reviews) { %> 
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review.rating %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> Created on: <%= review.created_at.toLocaleString() %></h6>
            </div>
            <p class="card-text"><%= review.body %> by <strong><%= review.author %></strong></p>
            <a class="btn btn-primary" href="/games/<%= review.gameId %>/reviews">View details</a>
        </div>
    </div>
<% } %> 